<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DTO에 대한 축약형 등록 -->
	
	<!-- UnderScore방식 <-> CamelCase 변환 setting-->
	<!-- xxx_yyy <-> xxxYyy -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
	    <!-- 1.유저 (관리자 (아무데도 속하지 않음) / 건설업체 - 자격증 / 중기업체 - 중장비)-->
		<typeAlias type="leasecity.dto.user.User" alias="user"/>
		<typeAlias type="leasecity.dto.user.ConstructionCompany" alias="constructionCompany"/>
		<typeAlias type="leasecity.dto.user.License" alias="license" />
		<typeAlias type="leasecity.dto.user.HeavyEquipmentCompany" alias="heavyEquipmentCompany"/>
		<typeAlias type="leasecity.dto.user.HeavyEquipment" alias="heavyEquipment" />
		
		<!-- 2.임대 업무(임대요청 / 직접요청 / 신청 / 양도 /  -->
		<typeAlias type="leasecity.dto.lease.LeaseCall" alias="leaseCall" />
		<typeAlias type="leasecity.dto.lease.LeaseDirectCall" alias="leaseDirectCall" />
		<typeAlias type="leasecity.dto.lease.LeaseRequest" alias="leaseRequest" />
		<typeAlias type="leasecity.dto.lease.LeaseTransfer" alias="leaseTransfer" />
		<typeAlias type="leasecity.dto.lease.LeaseSelection" alias="leaseSelection" />
		
		<!--  3.커뮤니티 (게시글, 댓글) / Q&A 겸용 -->
		<typeAlias type="leasecity.dto.community.Comment" alias="comment" />
		<typeAlias type="leasecity.dto.community.Reply" alias="reply" />
		
		<!--  4.관리자 기능(알림, 대기유저, 작업기록 -->
		<typeAlias type="leasecity.dto.adminwork.Notify" alias="notify" />
		<typeAlias type="leasecity.dto.adminwork.StandByUser" alias="standByUser" />
		<typeAlias type="leasecity.dto.adminwork.WorkLog" alias="workLog" />
		
		<!-- 5.기타 기능(페이지) -->
		<typeAlias type="leasecity.dto.etc.Page" alias="page" />
				
	</typeAliases>
	
	<mappers>
		<!-- 1.유저 mapping -->
		<mapper resource="mybatis/mapper/user/userRepo.xml" />
		<mapper resource="mybatis/mapper/user/heavyEquipmentCompanyRepo.xml" />
		<mapper resource="mybatis/mapper/user/constructionCompanyRepo.xml" />
		<mapper resource="mybatis/mapper/user/heavyEquipmentRepo.xml" />
		<mapper resource="mybatis/mapper/user/licenseRepo.xml" />
		
		<!-- 2.임대 작업 mapping -->
		<mapper resource="mybatis/mapper/lease/leaseCallRepo.xml" />
		<mapper resource="mybatis/mapper/lease/leaseRequestRepo.xml" />
		<mapper resource="mybatis/mapper/lease/leaseDirectCallRepo.xml" />
		
		<!-- 3.커뮤니티 mapping -->
		<mapper resource="mybatis/mapper/community/commentRepo.xml" />
		<mapper resource="mybatis/mapper/community/replyRepo.xml" />
		
		<!-- 4.관리자작업 mapping -->
		<mapper resource="mybatis/mapper/adminwork/adminRepo.xml" />
		<mapper resource="mybatis/mapper/adminwork/standByUserRepo.xml" />
		<mapper resource="mybatis/mapper/adminwork/questionRepo.xml" />
		<mapper resource="mybatis/mapper/adminwork/answerRepo.xml" />
		<mapper resource="mybatis/mapper/adminwork/notifyRepo.xml" />
		
	</mappers>	
	
	
</configuration>
